@model Consultation

@{
    ViewData["Title"] = "Delete Consultation";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger">
                <h3>Вие сигурни ли че желаете да изтриете тази консултация?</h3>
            </div>

            <dl class="row">
                <dt class="col-sm-2">Консултант:</dt>
                <dd class="col-sm-10">@Model.ConsultantName</dd>
                <dt class="col-sm-2">Дата:</dt>
                <dd class="col-sm-10">@Model.DateTime.ToString("dd/MM/yyyy HH:mm")</dd>
                <dt class="col-sm-2">Отделение:</dt>
                <dd class="col-sm-10">@Model.ConsultingDepartment</dd>
            </dl>

            <form asp-action="DeleteConsultationConfirmed" asp-route-id="@Model.Id" method="post">
                <button type="submit" class="btn btn-danger">Изтрий</button>
                <a asp-action="Consultations" asp-route-id="@Model.OperationId" class="btn btn-secondary">Отмени</a>
            </form>
        </div>
    </div>
</div>
